<section>
  <p>
    Hi, I'm <b>CHALK</b>, an <b>independent security researcher</b> focused on blockchain security. 
    Most of my time is spent hunting for security issues on bug bounty platforms and building [stealth], 
    a self-guided therapy app.
  </p>
  <br />
  <p>
     I'm deeply curious about learning things on a deeper level, so I explore any technologies that pique my interest, such as the ones listed below:
  </p>
  <br />
  <ul>
    <li>Reverse Engineering</li>
    <li>Ethereum</li>
    <li>Cryptography</li>
    <li>CTF</li>
    <li>iOS</li>
    <li>Artificial Intelligence</li>
  </ul>
  <br />
  <p>
    Outside of work, I enjoy reading books, writing down my thoughts, and hiking 
    in nature.
 <em><b>My ultimate goal is to make an impact on humanity, helping people achieve their fullest potential.</b></em>
  </p>  
</section>
